[user]
  name = Jacob Strieb
  email = jstrieb@users.noreply.github.com
[color]
	ui = auto
[alias]
  adog = log --all --decorate --oneline --graph
[checkout]
  defaultRemote = origin
[init]
  defaultBranch = master
[commit]
  verbose = true
